<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>
        {% if title %}
            {{title}}
        {% else %}
            OmniSeq
        {% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/main.css">

</head>
<body>

<img src="{{ STATIC_PREFIX }}IntegratedOncology.jpg" width="150" />

<img class="Omniseq_logo" src="{{ STATIC_PREFIX }}omniseqCdx_logo.png" />

<div class="Section_Header">ADDITIONAL RESULTS</div>
<div class="Vertical_Spacer_10"></div>

<div class="Additional_Results_Wrapper">
{#    <div class="Therapy_Marker"><div class="Therapy_Marker_Text">Genomic Profiling</div></div>#}
{#    <div>BRCA2 K585R, STK11 G163D, TP53 E62X</div>#}

    <div class="Therapy_Marker"><div class="Therapy_Marker_Text">Immune Profiling</div> </div>
    <div><span class="Additional_Results_Wrapper_Span">Comprehensive profiling of immuno-oncology markers characterizes patients’ pre-existing
        anti-cancer immunity and predisposition to checkpoint blockade response. The full cycle of biological
        steps – neoantigen generation and release (measured by MSI and TMB), T-cell priming and activation, T-cell
        trafficking, T-cell infiltration, T-cell recognition, and ultimately, the killing of cancer cells, is
        required to initiate and sustain an anti-cancer immune response against a patient’s tumor. Defects in
        one or more steps in the anticancer immune cycle results in tumor growth and progression and may support rational combination immunotherapy treatment strategies.
    </span></div>

</div>
<div class="Vertical_Spacer_10"></div>

<div class="Neoantigen">
    <div class="Nested_Neoantigen_Left">
        <div>Neoantigen generation and release</div>
        <div>Genomic instability and immunogenicity</div>
    </div>
    <div class="Nested_Neoantigen">
        <div>Marker</div>
        <div>MSI</div>
        <div>TMB</div>
    </div>
    <div class="Nested_Neoantigen">
        <div>Result</div>
        <div>{{ patient['MSI'] }}</div>
        <div>{{ patient['TMB Result']|float|round(2, 'floor')}} Mut/Mb</div>
    </div>

</div>



<div class="Vertical_Spacer_10"></div>

<div class="Immuno_Oncology">
    <div>T-cell priming and activation</div>
    <div>T-cell trafficking</div>
    <div>T-cell infiltration</div>
    <div>T-cell recognition</div>
    <div>Killing cancer cells</div>

    <div class="Immuno_Oncology_Small_Text">Direct interaction of stimulatory receptors and ligands required to prime T-cells and infiltrate the
        tumor</div>
    <div class="Immuno_Oncology_Small_Text">Pro- and anti-inflammatory cytokines and chemokines released in the stroma and vessels that drive the movement of T-cells to the tumor</div>
    <div class="Immuno_Oncology_Small_Text">Expression of immune activation within the tumor microenvironment</div>
    <div class="Immuno_Oncology_Small_Text">Interaction of checkpoint receptors and ligands that inhibit T-cells to initiate cancer cell death</div>
    <div class="Immuno_Oncology_Small_Text">Inhibit activated T-cells from killing cancer cells</div>

    {% set io = patient['io_data'] %}

    <div class="Nested_Immuno_Oncology">
        <div>Marker</div>
        <div>Rank</div>

        <div    {% if io['CD137']|int >= 75 %} class="High"
                {% elif io['CD137']|int < 25 %} class="Low"
                {% endif %} >CD137</div>
        <div {% if io['CD137']|int >= 75 %} class="High"
                 {% elif io['CD137']|int < 25 %} class="Low"
                {% endif %} >{{ io['CD137'] }}</div>

        <div {% if io['CD27']|int >= 75 %} class="High"
                {% elif io['CD27']|int < 25 %} class="Low" {% endif %} >CD27</div>
        <div {% if io['CD27']|int >= 75 %} class="High"
                {% elif io['CD27']|int < 25 %} class="Low" {% endif %} >{{ io['CD27'] }}</div>

        <div {% if io['CD28']|int >= 75 %} class="High"
                {% elif io['CD28']|int < 25 %} class="Low" {% endif %} >CD28</div>
        <div {% if io['CD28']|int >= 75 %} class="High"
                {% elif io['CD28']|int < 25 %} class="Low" {% endif %} >{{ io['CD28'] }}</div>

        <div {% if io['CD40']|int >= 75 %} class="High"
                {% elif io['CD40']|int < 25 %} class="Low" {% endif %} >CD40</div>
        <div {% if io['CD40']|int >= 75 %} class="High"
                {% elif io['CD40']|int < 25 %} class="Low" {% endif %} >{{ io['CD40'] }}</div>

        <div {% if io['CD40LG']|int >= 75 %} class="High"
                {% elif io['CD40LG']|int < 25 %} class="Low" {% endif %} >CD40LG</div>
        <div {% if io['CD40LG']|int >= 75 %} class="High"
                {% elif io['CD40LG']|int < 25 %} class="Low" {% endif %} >{{ io['CD40LG'] }}</div>

        <div {% if io['CD80']|int >= 75 %} class="High"
                {% elif io['CD80']|int < 25 %} class="Low" {% endif %} >CD80</div>
        <div {% if io['CD80']|int >= 75 %} class="High"
                {% elif io['CD80']|int < 25 %} class="Low" {% endif %} >{{ io['CD80'] }}</div>

        <div {% if io['CD86']|int >= 75 %} class="High"
                {% elif io['CD86']|int < 25 %} class="Low" {% endif %} >CD86</div>
        <div {% if io['CD86']|int >= 75 %} class="High"
                {% elif io['CD86']|int < 25 %} class="Low" {% endif %} >{{ io['CD86'] }}</div>

        <div {% if io['GITR']|int >= 75 %} class="High"
                {% elif io['GITR']|int < 25 %} class="Low" {% endif %} >GITR</div>
        <div {% if io['GITR']|int >= 75 %} class="High"
                {% elif io['GITR']|int < 25 %} class="Low" {% endif %} >{{ io['GITR'] }}</div>

        <div {% if io['GZMB']|int >= 75 %} class="High"
                {% elif io['GZMB']|int < 25 %} class="Low" {% endif %} >GZMB</div>
        <div {% if io['GZMB']|int >= 75 %} class="High"
                {% elif io['GZMB']|int < 25 %} class="Low" {% endif %} >{{ io['GZMB'] }}</div>

        <div {% if io['ICOS']|int >= 75 %} class="High"
                {% elif io['ICOS']|int < 25 %} class="Low" {% endif %} >ICOS</div>
        <div {% if io['ICOS']|int >= 75 %} class="High"
                {% elif io['ICOS']|int < 25 %} class="Low" {% endif %} >{{ io['ICOS'] }}</div>

        <div {% if io['ICOSLG']|int >= 75 %} class="High"
                {% elif io['ICOSLG']|int < 25 %} class="Low" {% endif %} >ICOSLG</div>
        <div {% if io['ICOSLG']|int >= 75 %} class="High"
                {% elif io['ICOSLG']|int < 25 %} class="Low" {% endif %} >{{ io['ICOSLG'] }}</div>

        <div {% if io['IFNG']|int >= 75 %} class="High"
                {% elif io['IFNG']|int < 25 %} class="Low" {% endif %} >IFNG</div>
        <div {% if io['IFNG']|int >= 75 %} class="High"
                {% elif io['IFNG']|int < 25 %} class="Low" {% endif %} >{{ io['IFNG'] }}</div>

        <div {% if io['OX40']|int >= 75 %} class="High"
                {% elif io['OX40']|int < 25 %} class="Low" {% endif %} >OX40</div>
        <div {% if io['OX40']|int >= 75 %} class="High"
                {% elif io['OX40']|int < 25 %} class="Low" {% endif %} >{{ io['OX40'] }}</div>

        <div {% if io['OX-40L']|int >= 75 %} class="High"
                {% elif io['OX-40L']|int < 25 %} class="Low" {% endif %} >OX-40L</div>
        <div {% if io['OX-40L']|int >= 75 %} class="High"
                {% elif io['OX-40L']|int < 25 %} class="Low" {% endif %} >{{ io['OX-40L'] }}</div>

        <div {% if io['TBX21']|int >= 75 %} class="High"
                {% elif io['TBX21']|int < 25 %} class="Low" {% endif %} >TBX21</div>
        <div {% if io['TBX21']|int >= 75 %} class="High"
                {% elif io['TBX21']|int < 25 %} class="Low" {% endif %} >{{ io['TBX21'] }}</div>

   </div>
    <div class="Nested_Immuno_Oncology">
        <div>Marker</div>
        <div>Rank</div>

        <div {% if io['CXCL10']|int >= 75 %} class="High"
                {% elif io['CXCL10']|int < 25 %} class="Low" {% endif %} >CXCL10</div>
        <div {% if io['CXCL10']|int >= 75 %} class="High"
                {% elif io['CXCL10']|int < 25 %} class="Low" {% endif %} >{{ io['CXCL10'] }}</div>

        <div {% if io['CXCR6']|int >= 75 %} class="High"
                {% elif io['CXCR6']|int < 25 %} class="Low" {% endif %} >CXCR6</div>
        <div {% if io['CXCR6']|int >= 75 %} class="High"
                {% elif io['CXCR6']|int < 25 %} class="Low" {% endif %} >{{ io['CXCR6'] }}</div>

        <div {% if io['DDX58']|int >= 75 %} class="High"
                {% elif io['DDX58']|int < 25 %} class="Low" {% endif %} >DDX58</div>
        <div {% if io['DDX58']|int >= 75 %} class="High"
                {% elif io['DDX58']|int < 25 %} class="Low" {% endif %} >{{ io['DDX58'] }}</div>

        <div {% if io['GATA3']|int >= 75 %} class="High"
                {% elif io['GATA3']|int < 25 %} class="Low" {% endif %} >GATA3</div>
        <div {% if io['GATA3']|int >= 75 %} class="High"
                {% elif io['GATA3']|int < 25 %} class="Low" {% endif %} >{{ io['GATA3'] }}</div>

        <div {% if io['IL10']|int >= 75 %} class="High"
                {% elif io['IL10']|int < 25 %} class="Low" {% endif %} >IL10</div>
        <div {% if io['IL10']|int >= 75 %} class="High"
                {% elif io['IL10']|int < 25 %} class="Low" {% endif %} >{{ io['IL10'] }}</div>

        <div {% if io['IL1B']|int >= 75 %} class="High"
                {% elif io['IL1B']|int < 25 %} class="Low" {% endif %} >IL1B</div>
        <div {% if io['IL1B']|int >= 75 %} class="High"
                {% elif io['IL1B']|int < 25 %} class="Low" {% endif %} >{{ io['IL1B'] }}</div>

        <div {% if io['MX1']|int >= 75 %} class="High"
                {% elif io['MX1']|int < 25 %} class="Low" {% endif %} >MX1</div>
        <div {% if io['MX1']|int >= 75 %} class="High"
                {% elif io['MX1']|int < 25 %} class="Low" {% endif %} >{{ io['MX1'] }}</div>

        <div {% if io['STAT1']|int >= 75 %} class="High"
                {% elif io['STAT1']|int < 25 %} class="Low" {% endif %} >STAT1</div>
        <div {% if io['STAT1']|int >= 75 %} class="High"
                {% elif io['STAT1']|int < 25 %} class="Low" {% endif %} >{{ io['STAT1'] }}</div>

        <div {% if io['TGFB1']|int >= 75 %} class="High"
                {% elif io['TGFB1']|int < 25 %} class="Low" {% endif %} >TGFB1</div>
        <div {% if io['TGFB1']|int >= 75 %} class="High"
                {% elif io['TGFB1']|int < 25 %} class="Low" {% endif %} >{{ io['TGFB1'] }}</div>

        <div {% if io['TNF']|int >= 75 %} class="High"
                {% elif io['TNF']|int < 25 %} class="Low" {% endif %} >TNF</div>
        <div {% if io['TNF']|int >= 75 %} class="High"
                {% elif io['TNF']|int < 25 %} class="Low" {% endif %} >{{ io['TNF'] }}</div>
    </div>

    <div class="Nested_Immuno_Oncology">
        <div>Marker</div>
        <div>Rank</div>

        <div {% if io['CD2']|int >= 75 %} class="High"
                {% elif io['CD2']|int < 25 %} class="Low" {% endif %} >CD2</div>
        <div {% if io['CD2']|int >= 75 %} class="High"
                {% elif io['CD2']|int < 25 %} class="Low" {% endif %} >{{ io['CD2'] }}</div>

        <div {% if io['CD20']|int >= 75 %} class="High"
                {% elif io['CD20']|int < 25 %} class="Low" {% endif %} >CD20</div>
        <div {% if io['CD20']|int >= 75 %} class="High"
                {% elif io['CD20']|int < 25 %} class="Low" {% endif %} >{{ io['CD20'] }}</div>

        <div {% if io['CD3']|int >= 75 %} class="High"
                {% elif io['CD3']|int < 25 %} class="Low" {% endif %} >CD3</div>
        <div {% if io['CD3']|int >= 75 %} class="High"
                {% elif io['CD3']|int < 25 %} class="Low" {% endif %} >{{ io['CD3'] }}</div>

        <div {% if io['CD4']|int >= 75 %} class="High"
                {% elif io['CD4']|int < 25 %} class="Low" {% endif %} >CD4</div>
        <div {% if io['CD4']|int >= 75 %} class="High"
                {% elif io['CD4']|int < 25 %} class="Low" {% endif %} >{{ io['CD4'] }}</div>

        <div {% if io['CD8']|int >= 75 %} class="High"
                {% elif io['CD8']|int < 25 %} class="Low" {% endif %} >CD8</div>
        <div {% if io['CD8']|int >= 75 %} class="High"
                {% elif io['CD8']|int < 25 %} class="Low" {% endif %} >{{ io['CD8'] }}</div>

        <div {% if io['FOXP3']|int >= 75 %} class="High"
                {% elif io['FOXP3']|int < 25 %} class="Low" {% endif %} >FOXP3</div>
        <div {% if io['FOXP3']|int >= 75 %} class="High"
                {% elif io['FOXP3']|int < 25 %} class="Low" {% endif %} >{{ io['FOXP3'] }}</div>

        <div {% if io['KLRD1']|int >= 75 %} class="High"
                {% elif io['KLRD1']|int < 25 %} class="Low" {% endif %} >KLRD1</div>
        <div {% if io['KLRD1']|int >= 75 %} class="High"
                {% elif io['KLRD1']|int < 25 %} class="Low" {% endif %} >{{ io['KLRD1'] }}</div>

        <div {% if io['SLAMF4']|int >= 75 %} class="High"
                {% elif io['SLAMF4']|int < 25 %} class="Low" {% endif %} >SLAMF4</div>
        <div {% if io['SLAMF4']|int >= 75 %} class="High"
                {% elif io['SLAMF4']|int < 25 %} class="Low" {% endif %} >{{ io['SLAMF4'] }}</div>
    </div>


    <div class="Nested_Immuno_Oncology">
        <div>Marker</div>
        <div>Rank</div>

        <div {% if io['BTLA']|int >= 75 %} class="High"
                {% elif io['BTLA']|int < 25 %} class="Low" {% endif %} >BTLA</div>
        <div {% if io['BTLA']|int >= 75 %} class="High"
                {% elif io['BTLA']|int < 25 %} class="Low" {% endif %} >{{ io['BTLA'] }}</div>

        <div {% if io['CTLA4']|int >= 75 %} class="High"
                {% elif io['CTLA4']|int < 25 %} class="Low" {% endif %} >CTLA4</div>
        <div {% if io['CTLA4']|int >= 75 %} class="High"
                {% elif io['CTLA4']|int < 25 %} class="Low" {% endif %} >{{ io['CTLA4'] }}</div>

        <div {% if io['LAG3']|int >= 75 %} class="High"
                {% elif io['LAG3']|int < 25 %} class="Low" {% endif %} >LAG3</div>
        <div {% if io['LAG3']|int >= 75 %} class="High"
                {% elif io['LAG3']|int < 25 %} class="Low" {% endif %} >{{ io['LAG3'] }}</div>

        <div {% if io['PD-1']|int >= 75 %} class="High"
                {% elif io['PD-1']|int < 25 %} class="Low" {% endif %} >PD-1</div>
        <div {% if io['PD-1']|int >= 75 %} class="High"
                {% elif io['PD-1']|int < 25 %} class="Low" {% endif %} >{{ io['PD-1'] }}</div>

        <div {% if io['PD-L1']|int >= 75 %} class="High"
                {% elif io['PD-L1']|int < 25 %} class="Low" {% endif %} >PD-L1</div>
        <div {% if io['PD-L1']|int >= 75 %} class="High"
                {% elif io['PD-L1']|int < 25 %} class="Low" {% endif %} >{{ io['PD-L1'] }}</div>

        <div {% if io['PD-L2']|int >= 75 %} class="High"
                {% elif io['PD-L2']|int < 25 %} class="Low" {% endif %} >PD-L2</div>
        <div {% if io['PD-L2']|int >= 75 %} class="High"
                {% elif io['PD-L2']|int < 25 %} class="Low" {% endif %} >{{ io['PD-L2'] }}</div>

        <div {% if io['TIM3']|int >= 75 %} class="High"
                {% elif io['TIM3']|int < 25 %} class="Low" {% endif %} >TIM3</div>
        <div {% if io['TIM3']|int >= 75 %} class="High"
                {% elif io['TIM3']|int < 25 %} class="Low" {% endif %} >{{ io['TIM3'] }}</div>

        <div {% if io['VISTA']|int >= 75 %} class="High"
                {% elif io['VISTA']|int < 25 %} class="Low" {% endif %} >VISTA</div>
        <div {% if io['VISTA']|int >= 75 %} class="High"
                {% elif io['VISTA']|int < 25 %} class="Low" {% endif %} >{{ io['VISTA'] }}</div>

        <div {% if io['TNFRSF14']|int >= 75 %} class="High"
                {% elif io['TNFRSF14']|int < 25 %} class="Low" {% endif %} >TNFRSF14</div>
        <div {% if io['TNFRSF14']|int >= 75 %} class="High"
                {% elif io['TNFRSF14']|int < 25 %} class="Low" {% endif %} >{{ io['TNFRSF14'] }}</div>
    </div>


    <div class="Nested_Immuno_Oncology">
        <div>Marker</div>
        <div>Rank</div>

        <div {% if io['ADORA2A']|int >= 75 %} class="High"
                {% elif io['ADORA2A']|int < 25 %} class="Low" {% endif %} >ADORA2A</div>
        <div {% if io['ADORA2A']|int >= 75 %} class="High"
                {% elif io['ADORA2A']|int < 25 %} class="Low" {% endif %} >{{ io['ADORA2A'] }}</div>

        <div {% if io['CCL2']|int >= 75 %} class="High"
                {% elif io['CCL2']|int < 25 %} class="Low" {% endif %} >CCL2</div>
        <div {% if io['CCL2']|int >= 75 %} class="High"
                {% elif io['CCL2']|int < 25 %} class="Low" {% endif %} >{{ io['CCL2'] }}</div>

        <div {% if io['CCR2']|int >= 75 %} class="High"
                {% elif io['CCR2']|int < 25 %} class="Low" {% endif %} >CCR2</div>
        <div {% if io['CCR2']|int >= 75 %} class="High"
                {% elif io['CCR2']|int < 25 %} class="Low" {% endif %} >{{ io['CCR2'] }}</div>

        <div {% if io['CD163']|int >= 75 %} class="High"
                {% elif io['CD163']|int < 25 %} class="Low" {% endif %} >CD163</div>
        <div {% if io['CD163']|int >= 75 %} class="High"
                {% elif io['CD163']|int < 25 %} class="Low" {% endif %} >{{ io['CD163'] }}</div>

        <div {% if io['CD38']|int >= 75 %} class="High"
                {% elif io['CD38']|int < 25 %} class="Low" {% endif %} >CD38</div>
        <div {% if io['CD38']|int >= 75 %} class="High"
                {% elif io['CD38']|int < 25 %} class="Low" {% endif %} >{{ io['CD38'] }}</div>

        <div {% if io['CD39']|int >= 75 %} class="High"
                {% elif io['CD39']|int < 25 %} class="Low" {% endif %} >CD39</div>
        <div {% if io['CD39']|int >= 75 %} class="High"
                {% elif io['CD39']|int < 25 %} class="Low" {% endif %} >{{ io['CD39'] }}</div>

        <div {% if io['CD68']|int >= 75 %} class="High"
                {% elif io['CD68']|int < 25 %} class="Low" {% endif %} >CD68</div>
        <div {% if io['CD68']|int >= 75 %} class="High"
                {% elif io['CD68']|int < 25 %} class="Low" {% endif %} >{{ io['CD68'] }}</div>

        <div {% if io['CSF1R']|int >= 75 %} class="High"
                {% elif io['CSF1R']|int < 25 %} class="Low" {% endif %} >CSF1R</div>
        <div {% if io['CSF1R']|int >= 75 %} class="High"
                {% elif io['CSF1R']|int < 25 %} class="Low" {% endif %} >{{ io['CSF1R'] }}</div>

        <div {% if io['IDO1']|int >= 75 %} class="High"
                {% elif io['IDO1']|int < 25 %} class="Low" {% endif %} >IDO1</div>
        <div {% if io['IDO1']|int >= 75 %} class="High"
                {% elif io['IDO1']|int < 25 %} class="Low" {% endif %} >{{ io['IDO1'] }}</div>
   </div>
</div>

<div class="Vertical_Spacer_10"></div>
<div class="Immunology_Subhead">Highlighted immuno-oncology markers are expressed at a high (&ge;75) or low (<25) rank
    relative to a reference population and have therapies in clinical development for the patient’s tumor type. See Therapy Details for treatment considerations
</div>

<div class="Vertical_Spacer_50"></div>

<div class="Vertical_Spacer_10"></div>
<div class="Test_Description">
OmniSeq CDx is a next generation sequencing based in vitro diagnostic device for the detection of genomic markers including substitutions, insertion and deletion (indels), and copy number alterations (CNAs) in 523 genes and select gene rearrangements, as well as genomic signatures including microsatellite instability (MSI) and tumor mutational burden (TMB) using DNA isolated from formalin-fixed paraffin embedded (FFPE) tumor tissue specimens. This test is intended as a companion diagnostic to identify patients who may benefit from treatment with the targeted therapies listed in Table X of the ABOUT section of this report, in accordance with the approved therapeutic product labeling. Additionally, OmniSeq CDx is intended to provide tumor mutation profiling to be used by qualified health care professionals in accordance with professional guidelines in oncology for patients with solid malignant neoplasms. OmniSeq CDx is a single site assay performed at OmniSeq, Inc.
</div>
<div class="Vertical_Spacer_50"></div>
<div class="Vertical_Spacer_50"></div>
<div class="Vertical_Spacer_50"></div>
<div class="Vertical_Spacer_50"></div>


<div class="Footer">
     {{patient['test_id']}}&nbsp;P-20-00000-000 VERSION 1 | Report electronically signed by George Who, MD
    |{{patient['sign_out_date']}} <br>
    CLIA ID: 33D2098748 | CAP # 9405346 | OmniSeq Inc., 700 Ellicott Street, Buffalo NY 14203 | 1 (800) 781-1259
<img class="Cap_logo" src="{{ STATIC_PREFIX }}cap_logo.png" width="75" />

</div>

</body>
</html>